@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Archivo+Black&family=DM+Sans&display=swap');






body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'DM Sans',sans-serif;
    background-color: #1a5f7ad6;
    color: white;
}

header{
    display: flex;
    background-color: #1A5F7A;
    align-items: center;
    border-bottom: 1px solid black;
    position: sticky;
    top:0px;
    z-index: 1;

    
}

header h1{
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;  
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

nav{
    margin-left: 2.5rem;
    margin-bottom: 0.8rem;
    justify-self: right;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 2rem;
}

li{
    padding-bottom: 0.7rem;
}

footer{
display: flex;
background-color: #1A5F7A;
}

footer p:nth-child(6){
    font-size: 0.5rem;
    color: white;
}

.pageLogo{
    height: 2.5rem;
    width: 2.5rem;
}




.galeria{
    display: grid;
    grid-template-columns: repeat(2, 10rem); 
    grid-template-rows: repeat(5, 10rem); 
    grid-gap: 0px; 
    align-items: center;
    justify-content: center;

}
.galeria img{

    width: 10rem;
    height: 10rem;
    border-radius:25px;
    padding: 0.2rem;

} 

.servicios{
    font-size: 1rem;
}

.CardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

.card{
    width: 14.375rem;
    height:24rem;
    background-color:aliceblue;
    border-radius: 10px;
    overflow: hidden;
}


.card img{
    width:14.375rem;
    height:15.6865rem;
    border-radius: 5px;
    max-width: fit-content;
    max-height:fit-content
}

.card h3{
    text-transform: uppercase;
    text-align: center;
}

.card p{
    text-align: center;

}


.testimonios{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

.testimonioItem{
    display: flex;
}

.testimonios h3{
    background-color: #1a5f7ac2;
    padding-bottom: 1rem;
    margin-bottom: 0px;
    font-size: 1.5rem;
    text-align: left;
    
}

.testimonios p{
    background-color:aliceblue ;
    padding-bottom:3rem ;
    margin-top: 0px;
    color: black;
}


.testimonioItem img{
    width: 3rem;
    height: 2.8rem;

}

.formularioContacto{
    display: flex;
    flex-direction: column;
}
.formularioContacto h2{
    align-self: center;
}



button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}



svg{
    cursor: pointer;
}


html{
    background-image: url(../assets/Images/texture.jpg);
    background-size: cover;
    background-position: center;
    /* filter: blur(10px); */
    backdrop-filter: blur(10px);
    background-color: #159895;
    box-sizing: border-box;

}


@media (min-width: 768px){
    .galeria{
        grid-template-columns: repeat(2, 20rem); 
        grid-template-rows: repeat(5, 20rem); 
        grid-gap: 2px; 
    }

    .galeria img{

        width: 20rem;
        height: 20rem;
        border-radius:25px;
        padding: 0.2rem;
    
    } 

    footer{
        gap: 7rem;
    }

    .CardContainer{
        display: grid;
        grid-template-columns: repeat(2, 20rem); 
        grid-template-rows: repeat(3, 24rem);
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
    }

}

@media (min-width: 1024px){


    .galeria{
        display: grid;
        grid-template-columns: repeat(5, 12.5rem); 
        grid-template-rows: repeat(2, 12.5rem); 
        grid-gap:4px; 
        justify-items: center;
        align-items: center;
        margin: 0.4rem;
    }
    

    
    .galeria img{
     
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 50px;
        padding: 0.4rem;
    } 

    h2{
        font-size: 3.75rem;

    }
    li{
        font-size: 1.5rem;
    }
    h3{
        font-size: 3rem;
    }

    .card h3{
        font-size: 1.5rem;
    }



    label{
        font-size: 1.5rem;
    }

    .testimonios{
        align-items: center;
        justify-content: center;
    }

    .testimonioItem{
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .testimonios h3{
        width:40rem;
    }
    
}

@media (min-width: 1440px){

    .testimonios h3{
        width:70rem;
    }


}


