.CardContainer{
@include flexCards
}

.card{
    width: 14.375rem;
    height:24rem;
    background-color:aliceblue;
    border-radius: 10px;
    overflow: hidden;

    img{
        width:14.375rem;
        height:15.6865rem;
        border-radius: 5px;
        max-width: fit-content;
        max-height:fit-content
    }

    %texto-centrado{
        text-align: center;
    }
    h3{
        text-transform: uppercase;
        @extend %texto-centrado
    }

    p{
        @extend %texto-centrado;
    }
}






