footer{
    display: flex;
    background-color:$ColorPrincipal;
    
    
    p{
        font-size: 0.5rem;
        color: white;
    }

    img{
        height: 2.5rem;
        width: 2.5rem;
    }
}